#footer-page {
  position: relative;
  z-index: 100 !important;
  background-color: var(--yellow1);
  padding: 20px;
  color: var(--purple4);
  bottom: 0;
  width: 100%;
  margin: 0px;
}

#temp-nav p {
  font-size: 15px;
}

#temp-nav li {
  margin: 1px !important;
}
