#store-page {
  background-color: var(--purple1);
  width: 100%;
  position: relative;
}

ul.nav-pills {
  top: 10%;
  position: fixed;
}

.nav-pills .pill .nav-link:not(.active) {
  background-color: var(--purple5);
  color: var(--yellow1);
}

.nav-pills .pill .nav-link {
  background-color: var(--yellow1);
  color: var(--purple5);
}

.rating {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  right: 40px;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 25px;
  color: var(--yellow1);
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.btn {
  background-color: var(--yellow1);
  color: var(--yellow5);
}

.btn:hover {
  background-color: var(--yellow2);
}

.btn:active {
  background-color: var(--yellow3);
  color: var(--yellow1);
}

#backsplash {
  height: 30%;
  width: 100%;
  position: fixed;
}

.col-sm-3 {
  background-color: var(--purple5);
  color: var(--purple1);
  max-width: 1000px;
}

.row {
  width: 1000px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

div.col-8 div {
  height: auto;
}

div.col-sm-9 div {
  position: relative;
  z-index: -1;
  padding-bottom: 100px;
}

#pantry {
  margin-top: 220px;
}

.card-img-top {
  justify-content: center;
}

.card-deck {
  margin: 0px !important;
  padding: 0px !important;
}

.card-footer {
  margin: 0px !important;
  padding: 0px !important;
}

.card-body {
  margin: 0px !important;
  padding: 0px !important;
}

.card {
  margin: 10px !important;
  padding: 10px !important;
}

#extra-space {
  height: 750px;
}
